.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

button {
  padding: 16px;
  font-size: 1em;
  border: none;
  background: deeppink;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.emoji-carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.emoji-carousel button {
  position: relative;
  top: -100px;
}

.emoji-carousel span {
  font-size: 100px;
  margin: 0;
}
